# Fichier d'exemple pour les variables d'environnement
# Copiez ce fichier dans un fichier .env et remplissez les valeurs

# Base de données
MONGO_URI=mongodb://localhost:27017/eventflow

# JSON Web Token
JWT_SECRET=votre_secret_jwt

# Google Auth
GOOGLE_CLIENT_ID=votre_id_client_google

# Twilio
TWILIO_ACCOUNT_SID=votre_sid_compte_twilio
TWILIO_AUTH_TOKEN=votre_token_auth_twilio
TWILIO_PHONE_NUMBER=votre_numero_telephone_twilio

# Nodemailer (exemple avec Mailtrap)
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USERNAME=votre_utilisateur_mailtrap
EMAIL_PASSWORD=votre_mot_de_passe_mailtrap

# Port du serveur
PORT=5000
